{% extends 'base.html' %}
{% load static %}
{% load course_tags %}

{% block title %} {{course.title}} My E-Books {% endblock title %}

{% block content %}



 <!-- PAGE TITLE
    ================================================== -->

    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">{{course.title}}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="">
                            My E-Books
                        </a>
                    </li>
                    
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>

     <!-- COURSE LIST V1
    ================================================== -->

    
    <div class="container pb-4 pb-xl-7">
        {% include 'components/msg.html' %}
        <div class="row row-cols-md-2 row-cols-xl-3 mb-6 mb-xl-3">
            {% for i in subject %}
                        <div class="col-12 col-md-6 col-xl-4 col-wd-3 pb-4 pb-md-7" style="padding-right:15px;padding-left:15px;">
                            <!-- Card -->
                            <div class="card border shadow p-2 rounded-lg sk-fade">
                              <div class="card-zoom position-relative">
                                    <a href="#" class="card-img sk-thumbnail img-ratio-9 d-block">
                                        <img class="rounded shadow-light-lg" src="/{{i.thumbnail}}" alt="...">
                                    </a>
                                </div>
                                

                                <!-- Footer -->
                                <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                                    

                                    <!-- Preheading -->

                                    <!-- Heading -->
                                    <div class="position-relative">
                                        <a href="e-book/{{i.slug_s}}" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">{{i.subject_name}}</h4></a>

                                    </div>
                                    
                    
                    
                                </div>
                            </div>
                        </div>
                         {% endfor %}
            </div>
            
        </div>

{% endblock %}