{% extends 'profile/basic.html' %}
{% block 'body' %}

<div class="mynav" >
    <div class="row">
        <div class="col-lg-2">
            <div class="text">Name : {{user.first_name}} {{user.last_name}}</div>
        </div>
        <div class="col-lg-2">
            <div class="text">Email : {{user.email}}</div>
        </div>
        <div class="col-lg-3"><span id=demon></span></div>
        <div class="col-lg-0">
            <script>
                var x = setInterval(function() {
                        distance=sessionStorage.getItem('distance')
                        
                        distance=distance-1000
                        sessionStorage.setItem('distance',distance);        
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    
                    $('#inp').val(distance)
                    if(hours>0){
                        document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
                    
                    } else {
                        document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                    
                    }
                    
                    if (distance < 600000) {    
                        document.getElementById("demo").style.color="red";
                        
                     }
                     if(distance<0){
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED"
                        // window.location.assign("{% url 'my_test_series'%}")
                     }
                    }, 1000);
                </script>
            <div class="text"> Time : <span id=demo></span></div>
            </div>
    </div>
</div>
<div class="q_body">
    <div class="row">
        <form action="" method="POST">{% csrf_token %}
        <div class="col-lg-8">
            <!-- {{request.session.msg}} -->
            <div class="row" style="height: 500px;">
                <div class="q_box">
                    

                    {% for q in que %}
                    Que.{{ q.qs_no }}. &emsp;&emsp;{{ q.questions }}
                    
                    {% endfor %}
                </div>  
                {% for q in que %}
            <div class="op_box">
                <!-- {{msg}} -->
                <div class="row">
                    <div class="col-lg-6"><div class="op">
                        {{ansnfrm.ansn.0}}.&emsp;&emsp; {{ q.option_a }}
                    </div></div>
                    <div class="col-lg-6"><div class="op">
                        {{ansnfrm.ansn.1}}.&emsp;&emsp; {{ q.option_b }}
                    </div></div>
                </div>
                <div class="row">
                    <div class="col-lg-6"><div class="op">
                        {{ansnfrm.ansn.2}}.&emsp;&emsp; {{ q.option_c }}
                    </div></div>
                    <div class="col-lg-6"><div class="op">
                        {{ansnfrm.ansn.3}}.&emsp;&emsp; {{ q.option_d }}
                    </div></div>
                </div>
                
            </div>
            
               
            </div>   
            {% endfor %}
            <div class="row"style="height: 150px;">
                
            <div class="col-lg-4">
                {% if que.has_previous %}
                <a href="/Questions/{{ppr.new_slug}}?page={{que.previous_page_number}}" class="btn btn-primary"> < PREVIOUS</a>
                {% endif %}
            </div>
            
            <div class="col-lg-4">
                <button type="SUBMIT" class="btn btn-primary">SAVE</button>
                
                
                
            </div>
            
            <div class="col-lg-4">
                {% if que.has_next %}
                <a href="/Questions/{{ppr.new_slug}}?page={{que.next_page_number}}" class="btn btn-primary"> NEXT > </a>
                {% endif %}
            </div>
            
            
        </br>
            <input id="inp" type="text">
            
                    
        </div>
    </form>
    
        </div>
        <div class="col-lg-4 bg" style="background-color:rgb(142, 150, 147); border: 2px solid black;">
            <div><h3>Question</h3></div>
            <div class="row" style="float: left; margin-top: 20px; ">
                {% for q in ppr.que_set.all %}
                <div class="col-lg-3" style="margin-top: 30px; "> <a href="/Questions/{{ppr.new_slug}}?page={{q.qs_no}}" class="btn btn-success">{{q.qs_no}}</a> </div>
                
                {% endfor %}
            </div>
            
            <div class="col-lg-12" style="margin-top: 240px">
                <button class="btn btn-primary"><a href="/result/{{ppr.new_slug}}"> SUBMIT </a></button>
                 
            </div>
            
        </div>
    </div>

</div>
{% endblock %}