{% extends 'base.html' %}
{% load static %}
{% load course_tags %}

{% block title %} {{ppr.title}} My Test Series {% endblock title %}

{% block content %}

<style>
    table, th, td {
        border: 4px solid black;
        border-radius: 3px;
        border-collapse: collapse;
        border-color: rgb(53, 49, 49);
}
table {
    width: 100%;
    margin:10px;
}
th {
    height: 70px;
}
td {
  text-align: center;
}
th, td {
  padding: 15px;
  /* text-align: left; */
}
tr:hover {background-color: rgb(180, 215, 238);}
</style>
<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">{{ppr.title}}: Score Card</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Score Card
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>

<div class="container">
<table>
    
    <tr> 
      <td>Q. No</td>
      <td>Correct Answertr</td>
      <td>Your Answer</td>
      
      
    </tr>
    
                        {% for i in ans %}
    <tr> 
      <td>{{ i.que_no }}</td>
     
      <td>{{ i.answer }}</td>
      <td>{{i.correct_answer}}</td>
      
      
    </tr>
    {% endfor %}
    
       
  </table>
</div>
{% endblock %}