<script>
    console.log("first page")
    let paper = document.getElementById('ppr')
        // console.log(ppr.innerHTML)
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {ppr: ppr.innerHTML, csrfmiddlewaretoken: csr };
        $.ajax({
            url: "{% url 'que_page' %}",
            method: "POST",
            data: mydata,
            success: function (data) {

                
                for(i=0; i<data.length; i++){

                    
                    if(data[i].answer === 'null'){
                        
                        // console.log(data[i].que_no, data[i].answer)
                        var que_save = data[i].que_no - 1
                        var clr = document.getElementsByClassName('btn_que')[que_save]
                        clr.style.background = 'rgb(192, 44, 113)'
                        clr.style.color = 'white'
                    }
                    else if(data[i].answer === 'A' || data[i].answer === 'B' || data[i].answer === 'C' || data[i].answer === 'D'){
                        
                        // console.log(data[i].que_no, data[i].answer)
                        var que_save = data[i].que_no - 1
                        var clr = document.getElementsByClassName('btn_que')[que_save]
                        clr.style.background = 'green'
                        clr.style.color = 'white'
                        if(data[i].que_no == 1){
                            console.log("que 1")
                            if (data[i].answer == 'A') {
                                // console.log("option A")
                                $('#A').prop("checked", "true");
                            } else if (data[i].answer == 'B') {
                                // console.log("option B")
                                $('#B').prop("checked", "true");
                            } else if (data[i].answer == 'C') {
                                // console.log("option C")
                                $('#C').prop("checked", "true");
                            } else if (data[i].answer == 'D') {
                                // console.log("option D")
                                $('#D').prop("checked", "true");
                            } else {
                                // console.log("not attempted")
                            }

                        }
                    }

                }
               
                
                // console.log(data.ans_filter)
            }
        })


    $("#mark").click(function () {
        console.log("mark")
        let qs_no = document.getElementById('q_no')
        let id = parseInt(qs_no.innerHTML);
        let q_no = id + 1;
        // console.log(q_no)
        let paper = document.getElementById('ppr')
        console.log(ppr.innerHTML)
        let que_no = document.getElementById('q_no')
            console.log(que_no.textContent)
            let que_save = que_no.textContent - 1
            var clr = document.getElementsByClassName('btn_que')[que_save]
            clr.style.background = 'rgb(59, 19, 167)'
            clr.style.color = 'white'
            console.log(clr)
        let op_a = document.getElementsByClassName('aaa')
        let op_b = document.getElementsByClassName('bbb')
        let op_c = document.getElementsByClassName('ccc')
        let op_d = document.getElementsByClassName('ddd')
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { sid: q_no, ppr: ppr.innerHTML, q_p: id, csrfmiddlewaretoken: csr };
        // mydata = { sid: q_no, ppr: ppr.innerHTML, que: id, ans: option, time_r: time, csrfmiddlewaretoken: csr };

        $.ajax({
            url: "{% url 'mark' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                // console.log(data)
                $("form")[0].reset();
                // console.log(data.mark)
                // console.log(data.saved)
                // console.log(data.not_saved)
                let n_v = data.total - (data.saved + data.not_saved)
                // console.log(n_v)
                $("#saved").html(data.saved);
                $("#not_answered").html(data.not_saved);
                $("#not_visited").html(n_v);
                $("#q_no").html(data.qs_no);
                $("#mark_review").html(data.mark);

                $("#qst").html(data.questions);
                $(".aaa").html(op_a.innerHTML);
                $("#ans_a").html(data.option_a);
                $(".bbb").html(op_b.innerHTML);
                $("#ans_b").html(data.option_b);
                $(".ccc").html(op_c.innerHTML);
                $("#ans_c").html(data.option_c);
                $(".ddd").html(op_d.innerHTML);
                $("#ans_d").html(data.option_d);
                console.log(data.answer)
                if (data.answer == 'A') {
                    // console.log("option A")
                    $('#A').prop("checked", "true");
                } else if (data.answer == 'B') {
                    // console.log("option B")
                    $('#B').prop("checked", "true");
                } else if (data.answer == 'C') {
                    // console.log("option C")
                    $('#C').prop("checked", "true");
                } else if (data.answer == 'D') {
                    // console.log("option D")
                    $('#D').prop("checked", "true");
                } else {
                    // console.log("not attempted")
                }
            }
        })

    })

    $("#clear").click(function () {
        console.log("clear")
        $("form")[0].reset();

    })

    $(".btn_que").click(function () {
        console.log("click que")
        let que_no = document.getElementById('q_no')
        console.log(que_no.innerHTML)
        var qs_no = que_no.innerHTML
        let que_save =  qs_no - 1
        if ($('.option').is(':checked')) {
            var opt = "answered"
        } else {
            var clr = document.getElementsByClassName('btn_que')[que_save]
            clr.style.background = 'rgb(192, 44, 113)'
            clr.style.color = 'white'
            var opt = "null"
            
        }
        console.log(opt)
        console.log(typeof opt)
        let id = $(this).attr("data-sid");
        // console.log(id)
        // console.log(typeof id);
        let que = parseInt(id);
        let op_a = document.getElementsByClassName('aaa')
        let op_b = document.getElementsByClassName('bbb')
        let op_c = document.getElementsByClassName('ccc')
        let op_d = document.getElementsByClassName('ddd')
        let paper = document.getElementById('ppr')
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { sid: que, ppr: ppr.textContent, option: opt, q_n: qs_no, csrfmiddlewaretoken: csr };
        
        $.ajax({
            url: "{% url 'number' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                $("form")[0].reset();
                console.log(data.total_que)
                console.log(data.total_saved)
                console.log(data.not_saved)
                $("#saved").html(data.total_saved);
                $("#not_answered").html(data.not_saved);
                $("#q_no").html(data.qs_no);
                $("#qst").html(data.questions);
                $(".aaa").html(op_a.innerHTML);
                $("#ans_a").html(data.option_a);
                $(".bbb").html(op_b.innerHTML);
                $("#ans_b").html(data.option_b);
                $(".ccc").html(op_c.innerHTML);
                $("#ans_c").html(data.option_c);
                $(".ddd").html(op_d.innerHTML);
                $("#ans_d").html(data.option_d);
                console.log(data.answer)
                if (data.answer == 'A') {
                    console.log("option A")
                    $('#A').prop("checked", "true");
                } else if (data.answer == 'B') {
                    console.log("option B")
                    $('#B').prop("checked", "true");
                } else if (data.answer == 'C') {
                    console.log("option C")
                    $('#C').prop("checked", "true");
                } else if (data.answer == 'D') {
                    console.log("option D")
                    $('#D').prop("checked", "true");
                } else {
                    console.log("not attempted")
                }
            }
        })
    });


    $("#btnnext").click(function () {
        // $("form")[0].reset();
        console.log("save and next button")
        var opt = document.getElementsByClassName("option");
        var t_r = document.getElementById('inp').value
        // console.log(typeof time)
        let dist = parseInt(t_r);
        let distance = dist / (1000 * 60)
        // console.log(typeof distance)
        let time = Math.floor(distance)
        // console.log(time)



        if ($('.option').is(':checked')) {
            var option = $(".option:checked").val();
            // console.log(option);
            let que_no = document.getElementById('q_no')
            console.log(que_no.textContent)
            let que_save = que_no.textContent - 1
            var clr = document.getElementsByClassName('btn_que')[que_save]
            clr.style.background = 'green'
            clr.style.color = 'white'
            console.log(clr)
        }
        else {
            // console.log("null")
            var option = "null"
            let que_no = document.getElementById('q_no')
            console.log(que_no.textContent)
            let que_save = que_no.textContent - 1
            var clr = document.getElementsByClassName('btn_que')[que_save]
            clr.style.background = 'rgb(192, 44, 113)'
            clr.style.color = 'white'
            console.log(clr)
        }




        // let answer = document.getElementsByName('ansn');


        let qs_no = document.getElementById('q_no')

        let id = parseInt(qs_no.innerHTML);
        let q_no = id + 1;
        let paper = document.getElementById('ppr')
        let op_a = document.getElementsByClassName('aaa')
        let op_b = document.getElementsByClassName('bbb')
        let op_c = document.getElementsByClassName('ccc')
        let op_d = document.getElementsByClassName('ddd')


        // console.log(id)
        // console.log(option)
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { sid: q_no, ppr: ppr.innerHTML, que: id, ans: option, time_r: time, csrfmiddlewaretoken: csr };

        $.ajax({
            url: "{% url 'next' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                $("form")[0].reset();
                // console.log(data.total_save)
                // console.log(data.not_saved)
                // console.log(data.total)
                let not_visited = data.total - (data.total_save + data.not_saved) 
                console.log("not visited", not_visited)
                $("#saved").html(data.total_save);
                $("#not_answered").html(data.not_saved);
                $("#not_visited").html(not_visited);
                

                // console.log(data.ans_ns)

                $("#q_no").html(data.qs_no);

                $("#qst").html(data.questions);
                $(".aaa").html(op_a.innerHTML);
                $("#ans_a").html(data.option_a);
                $(".bbb").html(op_b.innerHTML);
                $("#ans_b").html(data.option_b);
                $(".ccc").html(op_c.innerHTML);
                $("#ans_c").html(data.option_c);
                $(".ddd").html(op_d.innerHTML);
                $("#ans_d").html(data.option_d);
                // $("form")[0].reset();

                // console.log(data.answer)
                // console.log(data.que_no)

                if (data.answer == 'A') {
                    // console.log("option A")
                    $('#A').prop("checked", "true");
                } else if (data.answer == 'B') {
                    // console.log("option B")
                    $('#B').prop("checked", "true");
                } else if (data.answer == 'C') {
                    // console.log("option C")
                    $('#C').prop("checked", "true");
                } else if (data.answer == 'D') {
                    // console.log("option D")
                    $('#D').prop("checked", "true");
                } else {
                    // console.log("not attempted")
                }
            }

        });

    })




</script>